<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goktech.olala.server.dao.goods.AdversMapper">
  <resultMap id="BaseResultMap" type="com.goktech.olala.server.pojo.goods.Advers">
    <id column="ADVER_ID" jdbcType="SMALLINT" property="adverId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="ADVER_TYPE" jdbcType="VARCHAR" property="adverType" />
    <result column="ADVER_IMG" jdbcType="VARCHAR" property="adverImg" />
    <result column="ADVER_CONTENT" jdbcType="VARCHAR" property="adverContent" />
    <result column="LINK_URL" jdbcType="VARCHAR" property="linkUrl" />
    <result column="SORT_ORDER" jdbcType="TINYINT" property="sortOrder" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="LINK_MAN" jdbcType="VARCHAR" property="linkMan" />
    <result column="LINK_EMAIL" jdbcType="VARCHAR" property="linkEmail" />
    <result column="LINK_PHONE" jdbcType="VARCHAR" property="linkPhone" />
    <result column="CLICK_COUNT" jdbcType="INTEGER" property="clickCount" />
    <result column="IS_SHOW" jdbcType="BIT" property="isShow" />
    <result column="IS_ENABLED" jdbcType="BIT" property="isEnabled" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from g_advers
    where ADVER_ID = #{adverId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.goktech.olala.server.pojo.goods.Advers">
    insert into g_advers (ADVER_ID, TITLE, ADVER_TYPE, 
      ADVER_IMG, ADVER_CONTENT, LINK_URL, 
      SORT_ORDER, START_TIME, END_TIME, 
      LINK_MAN, LINK_EMAIL, LINK_PHONE, 
      CLICK_COUNT, IS_SHOW, IS_ENABLED, 
      CREATE_TIME, CREATE_BY, UPDATE_TIME, 
      UPDATE_BY)
    values (#{adverId,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{adverType,jdbcType=VARCHAR}, 
      #{adverImg,jdbcType=VARCHAR}, #{adverContent,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{sortOrder,jdbcType=TINYINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{linkMan,jdbcType=VARCHAR}, #{linkEmail,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR}, 
      #{clickCount,jdbcType=INTEGER}, #{isShow,jdbcType=BIT}, #{isEnabled,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.goktech.olala.server.pojo.goods.Advers">
    update g_advers
    set TITLE = #{title,jdbcType=VARCHAR},
      ADVER_TYPE = #{adverType,jdbcType=VARCHAR},
      ADVER_IMG = #{adverImg,jdbcType=VARCHAR},
      ADVER_CONTENT = #{adverContent,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      SORT_ORDER = #{sortOrder,jdbcType=TINYINT},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      LINK_MAN = #{linkMan,jdbcType=VARCHAR},
      LINK_EMAIL = #{linkEmail,jdbcType=VARCHAR},
      LINK_PHONE = #{linkPhone,jdbcType=VARCHAR},
      CLICK_COUNT = #{clickCount,jdbcType=INTEGER},
      IS_SHOW = #{isShow,jdbcType=BIT},
      IS_ENABLED = #{isEnabled,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where ADVER_ID = #{adverId,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ADVER_ID, TITLE, ADVER_TYPE, ADVER_IMG, ADVER_CONTENT, LINK_URL, SORT_ORDER, 
    START_TIME, END_TIME, LINK_MAN, LINK_EMAIL, LINK_PHONE, CLICK_COUNT, IS_SHOW, IS_ENABLED, 
    CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    from g_advers
    where ADVER_ID = #{adverId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ADVER_ID, TITLE, ADVER_TYPE, ADVER_IMG, ADVER_CONTENT, LINK_URL, SORT_ORDER, 
    START_TIME, END_TIME, LINK_MAN, LINK_EMAIL, LINK_PHONE, CLICK_COUNT, IS_SHOW, IS_ENABLED, 
    CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    from g_advers
  </select>
</mapper>